<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Cita Médica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Confirmar Cita Médica</h2>
        <p><strong>Especialidad:</strong> {{ especialidad }}</p>
        <p><strong>Fecha:</strong> {{ fecha }}</p>
        <p><strong>Hora:</strong> {{ hora }}</p>
        <p><strong>Especialista:</strong> Dr. {{ especialista.nombre }}</p>

        <form action="{{ url_for('confirmar_cita') }}" method="POST">
            <div class="form-group">
                <label for="nombre">Tu Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="rut">Tu RUT:</label>
                <input type="text" class="form-control" id="rut" name="rut" required>
            <div class="form-group">
                <label for="telefono">Tu Teléfono:</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" required>
            </div>
            <div class="form-group">
                <label for="correo">Tu correo:</label>
                <input type="correo" class="form-control" id="correo" name="correo" required>
            </div>
            <div class="form-group">
                <label for="comentarios">Comentarios (Opcional):</label>
                <textarea class="form-control" id="comentarios" name="comentarios"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Confirmar Cita</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
